# URL du backend NestJS déployé en production
VITE_API_URL=https://api-uniflow.kernelforge.codes

# URL de l'application web en production
# VITE_APP_URL=https://uniflow.kernelforge.codes

# En local, pointer vers localhost
# VITE_API_URL=http://localhost:3000
